h2{
    color: whitesmoke; 
} 
body{ 
    background-color: rgb(1, 69, 18); 
    text-align: center; 
} 
.row{ 
    display: flex; 
    justify-content: center; 
    margin-bottom: 20px; 
} 
img{ 
    margin: 10px; 
    width: 400px;
    height: 300px;
    border: 2px solid rgb(255, 235, 235); 
    cursor: pointer; 
    transition: transform 0.3s ease;
}

img:hover{ 
    box-shadow: 0px 0px 10px rgb(106, 106, 106); 
    transform: scale(1.2);
} 
.img-box {
    overflow: hidden;
    
}
#popup{
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    justify-content: center;
    align-items: center; 
} 
#popupImg{ 
    width: 800px; 
    height: 600px; 
    border: 2px solid rgb(154, 154, 154); 
} 
#close{ 
    position: absolute; 
    top: 20px; 
    right: 40px; 
    color: white; 
    font-size: 35px; 
    cursor: pointer; 
}